body {
    margin: 0%;
    box-sizing: border-box;

    background-color: #452723;
}


#slidecontainer {
    display: flex;
    justify-content: center;
}

.slideimage {
    margin: auto;
    height: 30rem;
}