:root {
    --red: #FF2000;
    --pink: #FF00C6;
    --lightgreen: #00FF2E;
    --darkgreen: #648C6B;
    --darkred: #452723;
}


body {
    margin: 0%;
    box-sizing: border-box;

    background-color: var(--darkred);
}


#slidecontainer {
    display: flex;
    justify-content: center;
}

.slideimage {
    margin: auto;
    height: 30rem;
}